header {
	padding: 1.5rem;
	background-color: white;
	border-bottom: 1px solid #e0e0e0;
}

.header-logo {
	display: inline;
	border-radius: 5px;
	display: flex;
	width: 6rem;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.header-logo > * {
	margin: 0 1rem;
}