.note {
	border: 1px solid #d4d4d4;
	margin: 1rem;
	padding: 1rem;
	border-radius: 5px;
	width: 16rem;
	padding-bottom: 4rem;
	position: relative;
	height: fit-content;
}

.note:hover {
	box-shadow: var(--shadow);
}

.note-title {
	font-weight: 500;
}

.note-overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: .5rem 1rem;
}

.note:hover .note-overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.note-bottom-buttons {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.note-bottom-buttons > * {
	margin: 0 0.2rem;
}