.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: 100vh;
	overflow: hidden;
	color: #353535;
	box-shadow: rgba(185, 185, 185, 0.6) 0px 10px 10px 1px;
	z-index: 3;
	background-color: white;
}

.side-bar:hover {
	width: 20rem !important;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style: none;
}

.nav-item > a {
  display: flex;
  align-items: center;
	margin-bottom: 1rem;
	border-radius: 50px;
  color: #353535;
  text-decoration: none;
}

.nav-item-active > a {
	background-color: #ffeab1;
}

.nav-item-active .nav-item-icon {
	background-color: #ffeab1;
}

.nav-item-icon {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 50px;
}

.nav-item-label {
	margin-left: 1rem;
	font-size: 1rem;
}